<h3> Module: {{ '{{module.name}}' }} </h3>
<div>{{ '{{module.descr}}' }}</div>
<accordion close-others="False">
    <accordion-group is-open="status.opensensors">
        <accordion-heading>
            Sensors <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': status.opensensors, 'glyphicon-chevron-right': !status.opensensors}"></i>
        </accordion-heading>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Ident</th>
                <th>Active</th>
                <th>Instant</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sensor in module.sensors">
                <td>{{ '{{sensor.id}}' }}</td>
                <td>{{ '{{sensor.ident}}' }}</td>
                <td>
                    <toggle-button ng-model="sensor.Active"/>
                </td>
                <td>
                    <toggle-button ng-model="sensor.Instant"/>

                </td>
            </tr>
            </tbody>
        </table>
    </accordion-group>
    <accordion-group is-open="status.openrpc">
        <accordion-heading>
            RPCs <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': status.openrpc, 'glyphicon-chevron-right': !status.openrpc}"></i>
        </accordion-heading>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Key</th>
                <th>Type</th>
                <th>Active</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="rpc in module.rpcs" ng-click="opened=!opened">
                <td rowspan="{{ '{{1+opened}}' }}" style="width:1%">{{ '{{rpc.id}}' }}</td>
                <td>{{ '{{rpc.key}}' }}</td>
                <td>{{ '{{rpc.rpctype.rpctype}}' }}</td>
                <td>
                     <bool-icon ng-model="rpc.arg.included"/>
                </td>
            </tr>
            <tr ng-repeat-end ng-show="opened">
                <td colspan="3">
                    <div>
                        <div class="input-group input-group"  style="width:90%" ng-repeat="arg in rpc.args">
                          <span class="input-group-addon" style="width:20%" tooltip="{{ '{{arg.des}}' }}">{{ '{{arg.name}}' }}</span>
                          <input type="text" class="form-control"  ng-model="arg.value" placeholder="{{ '{{arg.rpcargtype}}' }}">
                          <span class="input-group-btn" ng-show="arg.optional"><toggle-button ng-model="arg.included"/></span>
                        </div>
                        <span><button class="btn btn-default align-right"  type="button" ng-click="executeRPC(rpc)">Execute</button></span>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </accordion-group>
</accordion>

